
body {
    background-color: black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
}

#headline {
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 85px;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: vh;
    width: vw;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: 'Klee One', Arial, Helvetica, sans-serif;
    width: 45%;
}

#map { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px; 
}
#hours {width: 100%; }